/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */


article h2 {
	font-family: 'Open Sans', sans-serif; 
	font-size: 60px; margin: 25px 0; 
	line-height: 1em;
}

.header { height: 750px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.3); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}

.story { height: 300px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid rgba(255,255,255,0.1); border-bottom: 1px solid rgba(0,0,0,0.4); box-shadow: 0 0 50px rgba(0,0,0,0.8);}


#menu
{
    background-image: url(../images/index-02.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 155px;
    position: fixed;
    z-index: 1000;
}

#first {    background-image: url(../images/firstbackground.jpg);
    		background-repeat: no-repeat;
			background-size: 100%;
			}
#second { background-image: url(../images/aboutbg-01.jpg);
    		background-repeat: no-repeat;
			background-size: 100%;
			background-position: left bottom;
			background-color: black;
			height: 600px;}
#third { background-image: url(../images/microphone.jpg);
    		background-repeat: no-repeat;
			background-size: 100% 600px;
			background-position-y: 0px;
			height: 300px;
			background-color: black;
			  }
#fourth { background-image: url(../images/biobg.jpg);
    		background-repeat: no-repeat;
			background-size: 100%;
			background-position-y: 0px;
			height: 800px;
			background-color: black; }

#theend { background: url(../images/puckered.png) 50% bottom no-repeat fixed; 
			height: 1100px;}

#contactus {background-image: url(../images/contactbg.jpg);
    		background-repeat: no-repeat;
			background-size: 100%;
			background-position-y: 0px;
			height: 600px;
			background-color: black;}

#logo { background-image: url(../images/ftv_logo.png);
    		background-repeat: no-repeat;
			background-size: 400px 400px;
			width: 400px;
			height: 400px;
			position: absolute;
			margin-left: 70px;
			margin-top: 100px;
			}

#social {
	margin: auto;
	width: 640px;
	height: 800px;
	
}

/* Introduction */
/*#first .smashinglogo { background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }*/

/* Background Only */
/*#second { padding: 50px 0;}
#second article { background: url(../images/grain.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}*/

/* Photograph */
#second article {
	background: url(../images/grain.png) repeat #333; 
	color: #fff; 
	padding: 10px 20px;
	margin: 30px 0 0 30px; 
	width: 600px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	line-height: 1.5em;
	color: #fff;
	position: absolute; 
	top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3);
	border: 1px solid rgba(150,150,150,0.1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: medium;
}


#third article {  
	background: url(../images/grain.png) repeat #333; 
	color: #fff; 
	padding: 10px 20px; 
	margin: 150px 0 0 1200px; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
	line-height: 1.5em;
	color: #fff; 
	position: absolute;
	top: 0; 
	box-shadow: 0 0 25px rgba(0,0,0,0.3); 
	border: 1px solid rgba(150,150,150,0.1); 
}

#theend article {
	color: #fff;
	font-size: 24px;
}

#rectitle
{
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 180px;
	height: 600px;
	margin-top: 70px;
	margin-left: 120px;
	position: absolute;
	float: right;
	opacity: 0.3;
	
}

#rectitle p {
	margin: -90px;
}

#theend article p { font-family: 'Open Sans Condensed', sans-serif; margin-top: 25px; margin-bottom: 25px; }

#third .photograph { background: url(../images/photo.png) transparent 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third article p { font-family: 'Open Sans Condensed', sans-serif; width: 300px; margin-bottom: 25px; }

/* HTML5 Video */
#fourth article {  font-family: 'Open Sans Condensed', sans-serif; margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; font-size: 18px; }
#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}